---
layout: home
---

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">

I am software and ML engineering freelancer working remotely, for now. My training is in computing science; my primary interest is deep learning. I am fascinated by the human brain and believe engineering intelligence to be an essential goal of our generation.  

</p>


<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">

I graduated - in May 2021 - with a MSci in Computing Science from The University Of Glasgow where I had the opporuntity to research uncertainty calibration methods for Deep Neural Networks in Inverse Reinforcement Learning. Whilst studying I co-founded <a href="https://www.toceglasgow.com/">TÓCE</a>, worked part time as a full stack software engineer and tutored students in computing science.  
I now actively freelance as a software and ML engineer and <a href="https://joekadi.medium.com/">write</a> about anything that interests me! I've been programming since I was about 12 and am eaglery looking forward to the birth of AGI. 

</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
If you have a project you think I could help with, or just want to chat, don't hesistate to <a href="mailto:contact@joekadi.com">get in touch</a>!
</p>